body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.register {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 15%;
}

.register > div {
margin: 20px;
flex: 1;
}

.tab {
  display: flex;
  justify-content: space-around;
  background: #efefef;
  margin: 10px;
  padding: 12px;
}

.tab > li {
  padding: 5px;
}

li > button {
  border: 0;
  background: none;
  margin: 0px;
}

button.main {
  width: 28%;
  padding: 7px;
  margin-left: 15%;
}

.selected {
  background: #fff;
}
.homenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.homenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
}

.homenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px; /* Same as the width of the homenav */
}

.card {
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media screen and (max-height: 450px) {
  .homenav {padding-top: 15px;}
  .homenav a {font-size: 18px;}
}